<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,164}</string>
				<key>spriteSourceSize</key>
				<string>{128,164}</string>
				<key>textureRect</key>
				<string>{{2200,2180},{128,164}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,216}</string>
				<key>spriteSourceSize</key>
				<string>{122,216}</string>
				<key>textureRect</key>
				<string>{{900,2177},{122,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,216}</string>
				<key>spriteSourceSize</key>
				<string>{192,216}</string>
				<key>textureRect</key>
				<string>{{1023,2327},{192,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{250,216}</string>
				<key>spriteSourceSize</key>
				<string>{250,216}</string>
				<key>textureRect</key>
				<string>{{2170,1116},{250,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{253,206}</string>
				<key>spriteSourceSize</key>
				<string>{256,206}</string>
				<key>textureRect</key>
				<string>{{1806,2314},{253,206}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{406,404}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1924},{406,404}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{527,418},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_creatorBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{231,224}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{241,2329},{231,224}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1106},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_dailyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8.5}</string>
				<key>spriteSize</key>
				<string>{327,217}</string>
				<key>spriteSourceSize</key>
				<string>{331,238}</string>
				<key>textureRect</key>
				<string>{{2083,0},{327,217}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_eventBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{409,1106},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_eventCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-7.5}</string>
				<key>spriteSize</key>
				<string>{320,233}</string>
				<key>spriteSourceSize</key>
				<string>{322,252}</string>
				<key>textureRect</key>
				<string>{{2064,737},{320,233}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_fameBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{818,827},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{936,418},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_freeLevelsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-7.5}</string>
				<key>spriteSize</key>
				<string>{262,247}</string>
				<key>spriteSourceSize</key>
				<string>{266,262}</string>
				<key>textureRect</key>
				<string>{{1302,2314},{262,247}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_fullBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{317,265}</string>
				<key>spriteSourceSize</key>
				<string>{322,280}</string>
				<key>textureRect</key>
				<string>{{2301,0},{317,265}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1265,0},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1227,827},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_listsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1515},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{409,1515},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{818,1236},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_moreGamesBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{325,265}</string>
				<key>spriteSourceSize</key>
				<string>{330,280}</string>
				<key>textureRect</key>
				<string>{{1934,1983},{325,265}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_pathsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1227,1236},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_playBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10.5,-11}</string>
				<key>spriteSize</key>
				<string>{417,416}</string>
				<key>spriteSourceSize</key>
				<string>{438,438}</string>
				<key>textureRect</key>
				<string>{{848,0},{417,416}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_safeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3.5}</string>
				<key>spriteSize</key>
				<string>{170,189}</string>
				<key>spriteSourceSize</key>
				<string>{174,196}</string>
				<key>textureRect</key>
				<string>{{466,2394},{170,189}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1674,0},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1345,409},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_versusBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1636,818},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_watchReplay_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-6}</string>
				<key>spriteSize</key>
				<string>{520,352}</string>
				<key>spriteSourceSize</key>
				<string>{532,364}</string>
				<key>textureRect</key>
				<string>{{0,228},{520,352}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{408,408}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1636,1227},{408,408}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_weeklyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-9.5}</string>
				<key>spriteSize</key>
				<string>{327,219}</string>
				<key>spriteSourceSize</key>
				<string>{331,238}</string>
				<key>textureRect</key>
				<string>{{2064,409},{327,219}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,2.5}</string>
				<key>spriteSize</key>
				<string>{174,173}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{656,2394},{174,173}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,7.5}</string>
				<key>spriteSize</key>
				<string>{232,215}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2336,1620},{232,215}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,10}</string>
				<key>spriteSize</key>
				<string>{244,240}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{0,2329},{244,240}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,7.5}</string>
				<key>spriteSize</key>
				<string>{250,251}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2013,2309},{250,251}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,7.5}</string>
				<key>spriteSize</key>
				<string>{256,255}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1550,2314},{256,255}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,6.5}</string>
				<key>spriteSize</key>
				<string>{265,267}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2298,693},{265,267}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,6.5}</string>
				<key>spriteSize</key>
				<string>{272,271}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2200,1908},{272,271}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,6.5}</string>
				<key>spriteSize</key>
				<string>{277,271}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2064,1630},{277,271}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,6.5}</string>
				<key>spriteSize</key>
				<string>{275,269}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2151,1344},{275,269}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-21.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,285}</string>
				<key>spriteSourceSize</key>
				<string>{148,286}</string>
				<key>textureRect</key>
				<string>{{2064,1058},{105,285}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-21.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{105,285}</string>
				<key>spriteSourceSize</key>
				<string>{148,286}</string>
				<key>textureRect</key>
				<string>{{2045,1344},{105,285}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1302,1983},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1460,1983},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1.5}</string>
				<key>spriteSize</key>
				<string>{186,351}</string>
				<key>spriteSourceSize</key>
				<string>{196,354}</string>
				<key>textureRect</key>
				<string>{{713,1924},{186,351}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_06_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,-1.5}</string>
				<key>spriteSize</key>
				<string>{186,351}</string>
				<key>spriteSourceSize</key>
				<string>{196,354}</string>
				<key>textureRect</key>
				<string>{{1754,409},{186,351}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_07_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1618,1983},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_08_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-0.5}</string>
				<key>spriteSize</key>
				<string>{138,343}</string>
				<key>spriteSourceSize</key>
				<string>{178,344}</string>
				<key>textureRect</key>
				<string>{{1024,1983},{138,343}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_09_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-20,-0.5}</string>
				<key>spriteSize</key>
				<string>{138,343}</string>
				<key>spriteSourceSize</key>
				<string>{178,344}</string>
				<key>textureRect</key>
				<string>{{1163,1983},{138,343}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_10_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1776,1983},{157,330}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_11_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{123,346}</string>
				<key>spriteSourceSize</key>
				<string>{124,348}</string>
				<key>textureRect</key>
				<string>{{1169,1645},{123,346}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_12_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{123,346}</string>
				<key>spriteSourceSize</key>
				<string>{124,348}</string>
				<key>textureRect</key>
				<string>{{900,1830},{123,346}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_13_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1169,1769},{157,330}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_14_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6.5,0}</string>
				<key>spriteSize</key>
				<string>{157,330}</string>
				<key>spriteSourceSize</key>
				<string>{170,330}</string>
				<key>textureRect</key>
				<string>{{1632,1733},{157,330}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_15_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{1941,409},{96,350}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portal_16_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{1636,1636},{96,350}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portal_17_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-33,-1}</string>
				<key>spriteSize</key>
				<string>{96,350}</string>
				<key>spriteSourceSize</key>
				<string>{162,352}</string>
				<key>textureRect</key>
				<string>{{818,1733},{96,350}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-44.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{60,286}</string>
				<key>spriteSourceSize</key>
				<string>{149,287}</string>
				<key>textureRect</key>
				<string>{{2284,406},{60,286}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_01_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{57,286}</string>
				<key>spriteSourceSize</key>
				<string>{62,287}</string>
				<key>textureRect</key>
				<string>{{2200,1058},{57,286}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-47.5,0}</string>
				<key>spriteSize</key>
				<string>{77,288}</string>
				<key>spriteSourceSize</key>
				<string>{172,288}</string>
				<key>textureRect</key>
				<string>{{527,827},{77,288}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,0}</string>
				<key>spriteSize</key>
				<string>{115,332}</string>
				<key>spriteSourceSize</key>
				<string>{144,332}</string>
				<key>textureRect</key>
				<string>{{1516,1645},{115,332}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18,0}</string>
				<key>spriteSize</key>
				<string>{162,288}</string>
				<key>spriteSourceSize</key>
				<string>{198,288}</string>
				<key>textureRect</key>
				<string>{{527,905},{162,288}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_03_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,-1}</string>
				<key>spriteSize</key>
				<string>{140,354}</string>
				<key>spriteSourceSize</key>
				<string>{176,356}</string>
				<key>textureRect</key>
				<string>{{572,1924},{140,354}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-44,-0.5}</string>
				<key>spriteSize</key>
				<string>{90,292}</string>
				<key>spriteSourceSize</key>
				<string>{178,301}</string>
				<key>textureRect</key>
				<string>{{1632,1891},{90,292}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_04_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{76,346}</string>
				<key>spriteSourceSize</key>
				<string>{99,347}</string>
				<key>textureRect</key>
				<string>{{1987,1636},{76,346}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{95,267}</string>
				<key>spriteSourceSize</key>
				<string>{132,280}</string>
				<key>textureRect</key>
				<string>{{2298,959},{95,267}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_05_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,296}</string>
				<key>spriteSourceSize</key>
				<string>{132,296}</string>
				<key>textureRect</key>
				<string>{{521,228},{132,296}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_06_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-47.5,0}</string>
				<key>spriteSize</key>
				<string>{77,288}</string>
				<key>spriteSourceSize</key>
				<string>{172,288}</string>
				<key>textureRect</key>
				<string>{{2083,328},{77,288}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_06_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{63,349}</string>
				<key>spriteSourceSize</key>
				<string>{86,350}</string>
				<key>textureRect</key>
				<string>{{818,1645},{63,349}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12.5,0.5}</string>
				<key>spriteSize</key>
				<string>{847,73}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,0},{847,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,0.5}</string>
				<key>spriteSize</key>
				<string>{786,79}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,74},{786,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-120.5,1.5}</string>
				<key>spriteSize</key>
				<string>{599,73}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,154},{599,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-186.5,2.5}</string>
				<key>spriteSize</key>
				<string>{475,71}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,581},{475,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-218,2.5}</string>
				<key>spriteSize</key>
				<string>{416,69}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{457,653},{416,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-285.5,4.5}</string>
				<key>spriteSize</key>
				<string>{281,67}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{2487,318},{281,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-314.5,3.5}</string>
				<key>spriteSize</key>
				<string>{231,67}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{600,154},{231,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-391.5,6.5}</string>
				<key>spriteSize</key>
				<string>{85,59}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{1216,2327},{85,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerDoor_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-3}</string>
				<key>spriteSize</key>
				<string>{456,452}</string>
				<key>spriteSourceSize</key>
				<string>{464,458}</string>
				<key>textureRect</key>
				<string>{{0,653},{456,452}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-6}</string>
				<key>spriteSize</key>
				<string>{355,164}</string>
				<key>spriteSourceSize</key>
				<string>{368,176}</string>
				<key>textureRect</key>
				<string>{{407,1924},{355,164}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
			<key>size</key>
			<string>{2566,2576}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
		</dict>
	</dict>
</plist>