<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>geode.loader/baseAccount_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{176,168}</string>
				<key>textureRect</key>
				<string>{{624,930},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{176,168}</string>
				<key>textureRect</key>
				<string>{{1392,1310},{166,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Purple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{166,163}</string>
				<key>spriteSourceSize</key>
				<string>{176,168}</string>
				<key>textureRect</key>
				<string>{{0,1543},{166,163}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCategory_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-9.5}</string>
				<key>spriteSize</key>
				<string>{396,395}</string>
				<key>spriteSourceSize</key>
				<string>{418,416}</string>
				<key>textureRect</key>
				<string>{{0,417},{396,395}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{211,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{1267,218},{211,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{211,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{1267,432},{211,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{210,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{1082,1109},{210,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{211,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{1148,890},{211,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{210,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{1202,646},{210,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{211,213}</string>
				<key>spriteSourceSize</key>
				<string>{216,226}</string>
				<key>textureRect</key>
				<string>{{0,1331},{211,213}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-5.5}</string>
				<key>spriteSize</key>
				<string>{211,218}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{936,890},{211,218}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-5.5}</string>
				<key>spriteSize</key>
				<string>{211,218}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{0,1119},{211,218}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-7}</string>
				<key>spriteSize</key>
				<string>{212,217}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{869,1109},{212,217}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-7}</string>
				<key>spriteSize</key>
				<string>{212,217}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{1267,0},{212,217}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-5.5}</string>
				<key>spriteSize</key>
				<string>{211,218}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{219,1119},{211,218}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-5.5}</string>
				<key>spriteSize</key>
				<string>{211,218}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{438,1119},{211,218}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-5.5}</string>
				<key>spriteSize</key>
				<string>{211,218}</string>
				<key>spriteSourceSize</key>
				<string>{225,243}</string>
				<key>textureRect</key>
				<string>{{657,1109},{211,218}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{655,0},{305,311}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{655,312},{305,311}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{0,813},{305,311}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{312,813},{305,311}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{624,624},{305,311}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{961,0},{305,311}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-4}</string>
				<key>spriteSize</key>
				<string>{305,311}</string>
				<key>spriteSourceSize</key>
				<string>{321,333}</string>
				<key>textureRect</key>
				<string>{{961,312},{305,311}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{179,182}</string>
				<key>spriteSourceSize</key>
				<string>{187,196}</string>
				<key>textureRect</key>
				<string>{{1479,590},{179,182}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{179,182}</string>
				<key>spriteSourceSize</key>
				<string>{187,196}</string>
				<key>textureRect</key>
				<string>{{1293,1104},{179,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{180,183}</string>
				<key>spriteSourceSize</key>
				<string>{186,196}</string>
				<key>textureRect</key>
				<string>{{1480,0},{180,183}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{180,183}</string>
				<key>spriteSourceSize</key>
				<string>{186,196}</string>
				<key>textureRect</key>
				<string>{{1479,409},{180,183}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{179,182}</string>
				<key>spriteSourceSize</key>
				<string>{187,196}</string>
				<key>textureRect</key>
				<string>{{1473,770},{179,182}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{179,182}</string>
				<key>spriteSourceSize</key>
				<string>{187,196}</string>
				<key>textureRect</key>
				<string>{{1473,950},{179,182}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-4}</string>
				<key>spriteSize</key>
				<string>{179,182}</string>
				<key>spriteSourceSize</key>
				<string>{187,196}</string>
				<key>textureRect</key>
				<string>{{1473,1130},{179,182}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7}</string>
				<key>spriteSize</key>
				<string>{195,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{214,1331},{195,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7}</string>
				<key>spriteSize</key>
				<string>{195,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{410,1331},{195,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-7}</string>
				<key>spriteSize</key>
				<string>{196,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{606,1331},{196,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-7}</string>
				<key>spriteSize</key>
				<string>{196,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{803,1328},{196,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7}</string>
				<key>spriteSize</key>
				<string>{195,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{1000,1327},{195,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{190,191}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{1479,218},{190,191}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7}</string>
				<key>spriteSize</key>
				<string>{195,202}</string>
				<key>spriteSourceSize</key>
				<string>{210,228}</string>
				<key>textureRect</key>
				<string>{{1196,1323},{195,202}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1307,1526},{148,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1456,1477},{148,151}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1671,0},{148,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1671,152},{148,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1671,304},{148,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1663,456},{148,151}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{148,151}</string>
				<key>spriteSourceSize</key>
				<string>{154,164}</string>
				<key>textureRect</key>
				<string>{{1662,605},{148,151}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{162,165}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{167,1543},{162,165}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{162,165}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{333,1534},{162,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{160,163}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{985,1531},{160,163}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{160,163}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{1146,1530},{160,163}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{162,165}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{496,1534},{162,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{162,165}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{659,1534},{162,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{162,165}</string>
				<key>spriteSourceSize</key>
				<string>{166,176}</string>
				<key>textureRect</key>
				<string>{{822,1531},{162,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{519,502},{102,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{519,605},{102,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{100,103}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{382,1700},{100,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{100,103}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{483,1700},{100,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{519,708},{102,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{1360,860},{102,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3}</string>
				<key>spriteSize</key>
				<string>{102,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,116}</string>
				<key>textureRect</key>
				<string>{{1360,963},{102,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCross_Huge_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9.5,-11}</string>
				<key>spriteSize</key>
				<string>{417,416}</string>
				<key>spriteSourceSize</key>
				<string>{458,458}</string>
				<key>textureRect</key>
				<string>{{0,0},{417,416}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCross_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{265,265}</string>
				<key>spriteSourceSize</key>
				<string>{294,294}</string>
				<key>textureRect</key>
				<string>{{936,624},{265,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Aqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{788,930},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1662,754},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1656,883},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1656,1012},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1656,1141},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1656,1270},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Orange.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1608,1399},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{1608,1528},{128,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Teal.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{134,144}</string>
				<key>textureRect</key>
				<string>{{0,1707},{128,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{132,1707},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{257,1706},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-0.5}</string>
				<key>spriteSize</key>
				<string>{134,131}</string>
				<key>spriteSourceSize</key>
				<string>{144,136}</string>
				<key>textureRect</key>
				<string>{{519,370},{134,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{369,114}</string>
				<key>spriteSourceSize</key>
				<string>{369,128}</string>
				<key>textureRect</key>
				<string>{{418,0},{369,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseTab_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{369,121}</string>
				<key>spriteSourceSize</key>
				<string>{369,128}</string>
				<key>textureRect</key>
				<string>{{397,417},{369,121}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{369,121}</string>
				<key>spriteSourceSize</key>
				<string>{369,128}</string>
				<key>textureRect</key>
				<string>{{533,0},{369,121}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>BlankSheet-uhd.png</string>
			<key>size</key>
			<string>{1819,1835}</string>
			<key>textureFileName</key>
			<string>BlankSheet-uhd.png</string>
		</dict>
	</dict>
</plist>